In [13]:
import polars as pl
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import seaborn as sns
import numpy as np
import polars.selectors as cs

In [14]:
df = pd.read_excel("../dano_base.xlsx")
df

,Unnamed: 0,application_id,primary_income_dt,party_rk,product_code,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
0,0,3379c95477164e679ef80291a36a50ec,2023-03-05,772887927.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2e23732fef4749e1ae7a89ec978b7bf7,2023-03-05,858351423.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,df795c04bd834c0d8a2960d3b0593938,2023-03-09,864683115.0,DCV,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,7c2512d6bf2d47fe91eefc75f8062698,2023-03-13,294312227.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,ca547a88dd0c42f2a50657af01b87317,2023-03-03,815163498.0,DCV,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73707,73707,8168937fbe4c447ca420614d4e032d94,2023-03-14,380072334.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73708,73708,18de6aaefd9c478a9a2f7a04750e3d56,2023-03-21,941415613.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73709,73709,f03232cd563044f299b400a49ad95534,2023-03-03,863738223.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73710,73710,269435523adf4ec79361fa9fec903967,2023-03-09,956387021.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73711,73711,f50e3c0e54164e5ba48ca78e135b8dc2,2023-03-10,392912811.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [6]:
df["age_segment"]

0        18-22
1        14-17
2        36-40
3        14-17
4        Пусто
         ...
73707    31-35
73708    18-22
73709    Пусто
73710    Пусто
73711    18-22
Name: age_segment, Length: 73712, dtype: object

In [15]:
df = df[df["age_segment"].notna()]

In [25]:
df = df[df["subscription_time"].notna()]

In [24]:
df = df.loc[(df["trial_type"].isna()) | (df["trial_type"] == "1 mon")]

In [26]:
df[df["subscription_time"] >= 2.6*10**6]

,Unnamed: 0,application_id,primary_income_dt,party_rk,product_code,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
1,1,2e23732fef4749e1ae7a89ec978b7bf7,2023-03-05,858351423.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3,7c2512d6bf2d47fe91eefc75f8062698,2023-03-13,294312227.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,ca547a88dd0c42f2a50657af01b87317,2023-03-03,815163498.0,DCV,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,6,a1ed0e65df5242fcaf08713a4e90948e,2023-03-29,753966360.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,c72c66234bde4c5ca451dea5d623198c,2023-03-13,956250503.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73703,73703,461d7cf81bd5430899cec42a6fb18741,2023-03-30,698060918.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
73704,73704,9dd6813da8b64ce69d66933022e93ee0,2023-03-30,852830245.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73705,73705,c3d9072737e24388a88227d08399a4bb,2023-03-04,803521909.0,DCV,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
73707,73707,8168937fbe4c447ca420614d4e032d94,2023-03-14,380072334.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73711,73711,f50e3c0e54164e5ba48ca78e135b8dc2,2023-03-10,392912811.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [27]:
dfpl = pl.from_pandas(df)

In [40]:
df

,Unnamed: 0,application_id,primary_income_dt,party_rk,product_code,account_own_flg,sch_flg,success_flg,validation_flg,reject_flg,...,inkas_flg,cash_out_flg,vzr_flg,concierge_flg,cb_flg,invest_flg,mobile_flg,out_c2c_flg,car_ins_flg,percent_flg
1,1,2e23732fef4749e1ae7a89ec978b7bf7,2023-03-05,858351423.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2,df795c04bd834c0d8a2960d3b0593938,2023-03-09,864683115.0,DCV,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,7c2512d6bf2d47fe91eefc75f8062698,2023-03-13,294312227.0,DCV,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,ca547a88dd0c42f2a50657af01b87317,2023-03-03,815163498.0,DCV,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,6,a1ed0e65df5242fcaf08713a4e90948e,2023-03-29,753966360.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73703,73703,461d7cf81bd5430899cec42a6fb18741,2023-03-30,698060918.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
73704,73704,9dd6813da8b64ce69d66933022e93ee0,2023-03-30,852830245.0,DCV,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73705,73705,c3d9072737e24388a88227d08399a4bb,2023-03-04,803521909.0,DCV,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
73707,73707,8168937fbe4c447ca420614d4e032d94,2023-03-14,380072334.0,DCV,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
73711,73711,f50e3c0e54164e5ba48ca78e135b8dc2,2023-03-10,392912811.0,DCV,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [44]:
dfpl.group_by("age_segment").agg(
    sub_bigger_mon=(pl.col("subscription_time") >= 2.6 * 10**6).arg_true().count(),
    sub_less_mon=(pl.col("subscription_time") <= 2.6 * 10**6).arg_true().count(),
    total=pl.col("subscription_time").count(),
    fraction_cancelled=(
        (pl.col("subscription_time") <= 2.6 * 10**6).arg_true().count()
        / pl.col("subscription_time").count()
    ),
).sort(by="age_segment").to_pandas() #reset_index().corr(numeric_only=True).style.background_gradient(cmap="coolwarm")

   age_segment  sub_bigger_mon  sub_less_mon  total  fraction_cancelled
0         0-13              86             8     94            0.085106
1        14-17            6746           395   7141            0.055314
2        18-22            7679           407   8086            0.050334
3        23-25            2611           144   2755            0.052269
4        26-30            3615           188   3803            0.049435
5        31-35            3088           163   3251            0.050138
6        36-40            2131           121   2252            0.053730
7        41-45            1374            83   1457            0.056966
8        46-50             866            50    916            0.054585
9        51-55             489            24    513            0.046784
10       56-60             292            20    312            0.064103
11       61-65             188            13    201            0.064677
12         65+             176            11    187            0.058824
13       Пусто           10246           527  10773            0.048919